/* body {
    margin: 0;
    padding: 0;
} */
/* This applies things to body, but for some reason this doesn't get applied */

* {
    margin: 0;
    padding: 0;
}
/* this seems to apply things to everything */

#wrapper {
    width: 60em;
    margin: 0 auto; /* seems to centre stuff */
}
    
#branding{
    height: 7em;
    background-color: #0000CD;
}

#navbar {
    background-color: #82ffff;
    height: 2em;
}

#leftcolumn {
    background-color: #FFA500;
    height: 50em;
    width:15em;
    float:left;
}

#content {
    background-color: #f00ba2;
    height: 50em;
    margin-left: 15em;
}

#footer {
    background-color: #f00454;
    height: 2em;
    clear:both;
}
