!
! Comments begin with a "!" character.
!

XTerm*background:       black
XTerm*foreground:       white
XTerm*cursorColor:      white
XTerm*font:             -*-Fixed-medium-R-Normal-*-20-*-*-*-*-*-*-*
XTerm*faceName:         default

XTerm*eightBitInput:    false
XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

pwsafe*background:       black
pwsafe*foreground:       white
pwsafe*cursorColor:      white
pwsafe*font:             -*-Fixed-medium-R-Normal-*-20-*-*-*-*-*-*-*
pwsafe*faceName:         default
pwsafe*eightBitInput:    false
pwsafe*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

ncmpcpp*background:       black
ncmpcpp*foreground:       white
ncmpcpp*cursorColor:      white
ncmpcpp*font:             -*-Fixed-medium-R-Normal-*-20-*-*-*-*-*-*-*
ncmpcpp*faceName:         default
ncmpcpp*eightBitInput:    false
ncmpcpp*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

terminal*background:       black
terminal*foreground:       white
terminal*cursorColor:      white
terminal*font:             -*-Fixed-medium-R-Normal-*-20-*-*-*-*-*-*-*
terminal*faceName:         default
terminal*eightBitInput:    false
terminal*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

irssi*background:       black
irssi*foreground:       white
irssi*cursorColor:      white
irssi*font:             -*-Fixed-medium-R-Normal-*-20-*-*-*-*-*-*-*
irssi*faceName:         default
irssi*eightBitInput:    false
irssi*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
