!
! Comments begin with a "!" character.
!

XTerm*background:       black
XTerm*foreground:       white
XTerm*cursorColor:      white
XTerm*font:             -*-Fixed-medium-R-Normal-*-20-*-*-*-*-*-*-*
XTerm*faceName:         default
XTerm*eightBitInput:    false
XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
XTerm*bellIsUrgent:     true
XTerm*visualBell:       true

pwsafe*background:       black
pwsafe*foreground:       white
pwsafe*cursorColor:      white
pwsafe*font:             -*-Fixed-medium-R-Normal-*-20-*-*-*-*-*-*-*
pwsafe*faceName:         default
pwsafe*eightBitInput:    false
pwsafe*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

music*background:       black
music*foreground:       white
music*cursorColor:      white
music*font:             -*-Fixed-medium-R-Normal-*-20-*-*-*-*-*-*-*
music*faceName:         default
music*eightBitInput:    false
music*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

terminal*background:       black
terminal*foreground:       white
terminal*cursorColor:      white
terminal*font:             -*-Fixed-medium-R-Normal-*-20-*-*-*-*-*-*-*
terminal*faceName:         default
terminal*eightBitInput:    false
terminal*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

irc*background:       black
irc*foreground:       white
irc*cursorColor:      white
irc*font:             -*-Fixed-medium-R-Normal-*-20-*-*-*-*-*-*-*
irc*faceName:         default
irc*eightBitInput:    false
irc*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
irc*bellIsUrgent:     true

calendar*background:       black
calendar*foreground:       white
calendar*cursorColor:      white
calendar*font:             -*-Fixed-medium-R-Normal-*-20-*-*-*-*-*-*-*
calendar*faceName:         default
calendar*eightBitInput:    false
calendar*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
calendar*bellIsUrgent:     true
