/* colours largely taken from https://github.com/soaddevgit/WaybarTheme */
/* @define-color background #181825; */
/* @define-color background #1e1e2e; */
/* @define-color background #313244; */
@define-color background #282833;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack Nerd Font;
    font-size: 27px;
    margin-top: 3px;
    margin-bottom: 3px;
}

window#waybar {
    background-color: #000000;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    transition-property: background-color;
    transition-duration: .5s;
}

#mpris.playing {
    color: #00FF00;
}
#mpris.paused {
    color: #FFFF00;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces {
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: @background;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #96CDFB;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  /* background-color: #222222; */
  box-shadow: inset 0 -3px #96CDFB;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces { */
/*     margin-left: 0; */
/* } */

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#wireplumber {
  color: #96CDFB;
  background-color: @background;
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#custom-audio-sink {
  color: #96CDFB;
  background-color: @background;
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#cpu {
  color: #DDB6F2;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: @background;
}

#memory {
  color: #F5C2E7;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: @background;
}

#clock {
  color: #F8BD96;
  background-color: @background;
  margin-left: 5px;
  border-radius: 10px;
  margin-right: 5px;
}

#wireplumber.muted {
  color: #FDFD96;
}

#mpris {
  margin-right: 12;
}

#mpris.playing {
  color: #77DD77;
}

#mpris.paused {
  color: #FDFD96;
}

#tray {
  background-color: @background;
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-power {
  color: #cdd6f4;
  background-color: @background;
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
